# Python Virtual Environments
**/.venv/
**/venv/
**/env/

# Python cache and compiled files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Azure Functions local settings
**/bin/
**/obj/
**/local.settings.json
**/.python_packages/

# VS Code & OS
.vscode/
**/.DS_Store
**/Thumbs.db

# Dependencies
**/node_modules/

# Terraform (The big ones!)
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl